* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
    text-align: center;
}
body {
    background-color: #333334;
}
#canvas {
    position: absolute;
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
}
#menu {
    position: absolute;
    width: 1360px;
    height: 768px;
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
    background-image: linear-gradient(135deg, #8A2BE2, #00FF7F);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.beginner {
    background-image: linear-gradient(135deg, #8A2BE2, #00FF7F) !important;
}
.hard {
    background-image: linear-gradient(135deg, #FFA000, #FF4D00) !important;
}
#startScreen{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 25px;
}
#startScreen h1{
    color: white;
    font-size: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#startScreen h2{
    color: white;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
#startScreen #htp {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
#startScreen h3{
    color: white;
    text-decoration: underline;
}
#startScreen h4{
    color: white;
    font-style: italic;
    font-size: 40px;
}
#startScreen h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
#startScreen h4:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hide{
    visibility: hidden;
}

#htpMenu {
    position: absolute;
    width: 1360px;
    height: 768px;
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
    background-image: linear-gradient(90deg, #00f0ff, #222277);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#htpScreen{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 25px;
}
#htpScreen h1{
    color: white;
    font-size: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#htpScreen h2{
    color: white;
    font-size: 75px;
    font-style: italic;
}
#htpScreen h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
#htpScreen h3{
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
