* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
    text-align: center;
    transition: font-size .3s ease-in-out;
}
body {
    background-color: #000;
}
#canvas {
    position: absolute;
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
    image-rendering: crisp-edges;
}
#menu {
    position: absolute;
    width: 1360px;
    height: 768px;
    padding: 100px;
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    opacity: 1;
    transition: opacity .1s linear;
}
#startScreen{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 25px;
}
#startScreen h1{
    color: white;
    font-size: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    transform-origin: left;
    transform: scaleX(1.5);
    /* text-decoration: underline; */
}
#startScreen h2{
    color: white;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
#startScreen #htp {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
#startScreen #htp:hover {
    font-size: 80px;
}
#startScreen h3{
    color: white;
    text-decoration: underline;
}
#startScreen h4{
    color: white;
    font-style: italic;
    font-size: 40px;
}
#startScreen h2:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 115px;
}
#startScreen h4:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 70px;
}
.hide{
    opacity: 0.0 !important;
    pointer-events: none;
}

#htpMenu {
    position: absolute;
    width: 1360px;
    height: 768px;
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity .1s linear;
}
#htpScreen{
    display: flex;
    align-items:normal;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 25px;
}
#htpScreen h1{
    color: white;
    font-size: 73px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline dotted;
}
#htpScreen h2{
    color: white;
    font-size: 85px;
    font-style: italic;
}
#htpScreen h2:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 135px;
}
#htpScreen h3{
    color: white;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}
#htpScreen h3:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 70px;
}
#htpq1 {
    width: 680px;
    height: 768px;
    padding: 100px; 
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
} 
#htpq2{
    width: 680px;
    height: 768px;
    padding: 100px; 
    top: calc(50vh - 384px);
    left: calc(50vw - 680px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    
}

/* Colors */

.neonBlue{
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF   ;
}
.neonWhite{
    color: #fff;
    text-shadow: 0 0 10px #fff   ;
}
.neonPurple{
    color: #FE019A;
    text-shadow: 0 0 10px #FE019A;
}
